{% extends "expense/base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<section>
  <h2>Who am I?</h2>
  <p>
    Hi, my name is Pong. <br>
    Born and raised in Cambodia, I'm a programmer specializing in Python and dabbling in Go. <br>
    When I'm not programming, you can find me at the gym or at any Japanese-themed convention.
  </p>

  <h2>Why I built this</h2>
  <p>
    I wanted to see how much I spend. <br>
    I was too lazy to use pen and paper, so I used Google notes. <br>
    I was too lazy to sum up the numbers, so I made this app. <br>
    You could say I am <i>lazy productive</i>.
  </p>

  <h2>How was this built</h2>
  <p>
    This app was built on Django because it seems to get out of my way and allow me to start building quickly. No fancy JavaScript required. 
  </p>

  <h2>Features</h2>
  <p>This app allows you to record how much you spend in differing currencies. In Cambodia, we spend the Khmer Riel and the US Dollar interchangeably, so having this built in is convenient.</p>
  <p>You can get a good overview of how much you have spent, grouping by the day, month or even year.</p>

  <article class="m-t-2 p-2"> 
    <p>
      If you're interested in checking this out, you can use the dummy account: <br>
      <kbd>dummy@d.com</kbd>
      <kbd>123</kbd>      
    </p>
    
    <p>
      If you want to sign up and actually use this, feel free to sign up. It's free, and I'm not planning on monetizing anytime soon. 
    </p>
    
    <div>
      <a role="button" href="{% url "account_login" %}">Login</a>
      <a role="button" href="{% url "account_signup" %}" class="contrast">Register</a>
    </div>
  </article>
</section>

<section class="align-r">
  <small>If you have any feature requests, please contact me <a href="https://github.com/N1V33R4" target="_blank">here</a>.</small>
</section>
{% endblock main %}